# /obj/
# /bin/
# /alire/
# /config/
__docs__/
backup/
.VSCodeCounter/
dist/
latest.json
utils/
build/
build.bat
test/
contributing/
release/
Output/
utils/
samples/someday.mp4
lib/include/
*.o
*.ali
*.exe
*.dll
*.a
*.so
*.dylib
# alire/
error/
# .alire/

